{{#each this}}
<div class="country">
    <h2 class="country-name">{{name}}</h2>

    <div class="info-container">
        <p class="capital">{{capital}}</p>
        <p class="population">{{population}}</p>
        
        <ul class="lang-list">
          {{#each languages}}
              <li class="language">{{name}}</li>
          {{/each}}
        </ul>

    </div>

    <img class="country-flag" src={{flag}} alt="flag" width="300px">
    
</div>
{{/each}} 